body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.hero-spacer {
	margin-top: 50px;
}

.hero-feature {
	margin-bottom: 30px;/* spaces out the feature boxes once they start to stack responsively */
}

.featurette-divider {
	margin: 80px 0;
}
.featurette {
	overflow: hidden;
}

.featurette-image.pull-left {
	margin-right: 40px;
}

.featurette-image.pull-right {
	margin-left: 40px;
}

.featurette-heading {
	font-size: 50px;
}

footer {
	margin: 50px 0;
}

/* RESPONSIVE CSS */
@media (max-width: 1200px) {
	.featurette-divider {margin: 50px 0;}
	.featurette-image.pull-left {margin-right: 20px;}
	.featurette-image.pull-right {margin-left: 20px;}
	.featurette-heading {font-size: 35px;}
}

@media (max-width: 991px) {
	.featurette-divider {margin: 40px 0;}
	.featurette-image {max-width: 50%;}
	.featurette-image.pull-left {margin-right: 10px;}
	.featurette-image.pull-right {margin-left: 10px;}
	.featurette-heading {font-size: 30px;}
}

@media (max-width: 768px) {
	.featurette-divider {margin: 40px 0;}
	.featurette-heading {font-size: 25px;}
}

@media (max-width: 668px) {
	.featurette-divider {margin: 30px 0;}
}

@media (max-width: 640px) {
}

@media (max-width: 375px) {
	.featurette-divider {margin: 10px 0;}
	.featurette-image {max-width: 100%;}
	.featurette-image.pull-left {margin-right: 0; margin-bottom: 10px;}
	.featurette-image.pull-right {margin-left: 0; margin-bottom: 10px;}
}
